/**************************\
  Basic Modal Styles
\**************************/

.m_modal {
      
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    max-width: 96vw;
    overflow-x: hidden !important;
    color: var(--bs-modal-color);
    background-color: var(--bs-modal-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: 14px;
    &.modal-sm  { width: 300px; }                        
    &.modal-md  { width: 500px; }   
    &.modal-lg  { width: 800px; }
    &.modal-xl  { width:  1140px; }

  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
    margin-top: 10px;
    flex: 0;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--bs-color);
    box-sizing: border-box;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
    color: var(--bs-color);
    background-color: var(--bs-modal-bg);
    flex: 1;
    margin-top: 0px;
  }
  
  a, a:hover {
    text-decoration: none;
    color: inherit;
  }

  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }

}